{{ '@AppBundle/Resources/public/css/footer/base.footer.html.css'|cssloader }}
<div class="divfooter">
    <div>
        <div class="companyname">
            <div>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 705.000000 297.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,297.000000) scale(0.100000,-0.100000)" fill="white" stroke="none"><path d="M842 2523 c-24 -57 -492 -1172 -499 -1191 -4 -10 17 -12 98 -10 l103
3 59 148 60 147 207 0 207 0 59 -150 59 -150 114 0 c131 0 124 -12 68 118
l-36 82 64 0 65 0 0 -500 0 -500 100 0 100 0 2 398 3 397 38 3 37 3 0 99 0 99
118 3 117 3 3 98 3 97 -111 0 c-78 0 -110 3 -110 12 0 6 22 33 49 59 47 45
106 69 171 69 18 0 20 7 20 96 l0 97 -44 -5 c-58 -7 -131 -43 -183 -91 l-42
-39 -3 54 -3 53 -87 3 -88 3 0 -156 0 -156 -152 3 -152 3 -176 420 c-196 466
-198 470 -238 378z m98 -553 c33 -85 60 -158 60 -162 0 -4 -59 -8 -131 -8
-103 0 -130 3 -126 13 37 97 131 317 134 314 2 -2 30 -73 63 -157z"></path><path d="M5293 2343 c-30 -6 -71 -46 -79 -77 -13 -55 13 -100 70 -120 49 -17
92 -6 124 29 27 31 30 90 6 124 -15 21 -73 53 -91 50 -4 -1 -18 -4 -30 -6z"></path><path d="M2500 2041 c-42 -13 -93 -42 -121 -68 l-26 -24 -7 41 -6 41 -88 -3
-87 -3 -3 -352 -2 -353 99 0 100 0 3 203 c3 193 4 204 28 251 39 76 112 114
178 92 45 -15 52 -56 52 -311 l0 -235 100 0 100 0 0 198 c0 195 1 198 28 251
43 85 114 123 180 95 46 -19 52 -57 52 -316 l0 -228 95 0 95 0 0 283 c0 251
-2 286 -19 322 -64 142 -273 170 -405 54 l-44 -39 -21 29 c-34 48 -113 81
-190 80 -37 0 -77 -4 -91 -8z"></path><path d="M3708 2036 c-186 -54 -298 -232 -267 -425 43 -272 348 -395 606 -244
l42 24 -46 72 c-25 40 -47 74 -49 76 -1 2 -15 -5 -31 -16 -77 -52 -169 -59
-240 -18 -23 14 -43 30 -43 34 0 5 93 41 208 81 326 115 297 102 294 130 -2
14 -17 55 -34 93 -36 78 -104 147 -176 180 -59 26 -195 33 -264 13z m165 -160
c37 -16 84 -63 73 -73 -4 -4 -76 -33 -159 -64 -167 -62 -169 -62 -147 15 29
103 140 162 233 122z"></path><path d="M4665 2037 c-56 -19 -97 -41 -119 -66 -23 -25 -36 -13 -36 32 l0 27
-90 0 -90 0 0 -355 0 -355 100 0 100 0 0 191 c0 217 7 255 60 310 59 62 145
72 192 22 23 -24 23 -29 26 -274 l3 -249 100 0 101 0 -4 278 c-4 297 -8 323
-61 380 -56 61 -191 89 -282 59z"></path><path d="M5833 2035 c-201 -62 -302 -283 -231 -502 18 -56 32 -78 82 -128 77
-76 137 -100 251 -100 81 0 86 1 228 73 4 2 7 -10 7 -27 l0 -31 95 0 95 0 0
355 0 355 -90 0 -90 0 0 -28 c0 -42 -8 -44 -49 -12 -20 16 -56 36 -80 45 -52
18 -160 19 -218 0z m234 -176 c70 -34 97 -78 101 -165 3 -60 0 -81 -18 -119
-56 -116 -214 -139 -309 -44 -49 49 -65 94 -59 169 10 142 154 222 285 159z"></path><path d="M5220 1275 l0 -755 94 0 93 0 8 744 c4 410 4 749 0 755 -4 7 -44 11
-101 11 l-94 0 0 -755z"></path><path d="M2384 1221 c-33 -16 -76 -43 -96 -60 -20 -17 -38 -31 -41 -31 -3 0
-7 21 -9 48 l-3 47 -87 3 -88 3 0 -356 0 -355 94 0 94 0 4 188 c3 166 6 191
25 227 38 71 94 109 181 121 l52 7 0 71 c0 39 3 81 6 94 6 20 3 22 -32 22 -22
0 -65 -13 -100 -29z"></path><path d="M2860 1241 c-104 -33 -183 -101 -228 -199 -34 -74 -42 -211 -18 -294
31 -107 120 -200 219 -230 23 -7 79 -13 123 -13 74 0 88 3 153 37 l71 36 0
-29 0 -29 100 0 100 0 0 355 0 355 -90 0 -89 0 -7 -35 -6 -34 -37 28 c-56 44
-112 61 -194 60 -39 0 -83 -4 -97 -8z m244 -193 c63 -43 76 -71 76 -166 0 -92
-12 -125 -59 -165 -94 -79 -232 -51 -296 58 -56 95 -25 223 68 280 58 36 153
32 211 -7z"></path><path d="M4598 1236 c-186 -54 -298 -232 -267 -425 43 -272 348 -395 606 -244
l42 24 -46 72 c-25 40 -47 74 -49 76 -1 2 -15 -5 -31 -16 -77 -52 -169 -59
-240 -18 -23 14 -43 30 -43 34 0 5 93 41 208 81 326 115 297 102 294 130 -2
14 -17 55 -34 93 -36 78 -104 147 -176 180 -59 26 -195 33 -264 13z m165 -160
c37 -16 84 -63 73 -73 -4 -4 -76 -33 -159 -64 -167 -62 -169 -62 -147 15 29
103 140 162 233 122z"></path><path d="M3492 1217 c2 -7 89 -171 193 -365 152 -282 194 -352 210 -352 16 0
56 69 205 357 102 196 187 361 188 365 2 4 -46 8 -106 8 l-109 0 -84 -190
c-45 -104 -86 -190 -89 -190 -4 0 -44 80 -90 178 -46 97 -88 183 -93 190 -14
18 -230 17 -225 -1z"></path></g></svg></div>
        </div>
        <div class="footermenu">

            <div class="menusite">

                {% for key,value in topmenu %}
                    <a href="/{{ app.request.getLocale() }}{{  value.url }}">{{ value.name|trans }}</a>
                {% endfor %}

            </div>
        </div>
        <div class="comanycontact">
            <h3>Armenia Travel {{ 'info'|trans }}</h3>
            <div>{{ 'Adresse'|trans }}: 4/6 rue Amirian, bureau no 140</div>
            <div>0010 {{ 'Erevan'|trans }}, {{ 'Armenia'|trans }}</div>
            <div>Tél.: (+374 60) 60 59 58</div>
            <div class="socialbuttons">
                <div>
                    <i class="fab fa-google-plus-g"></i>
                </div>
                <div>
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div>
                    <i class="fab fa-odnoklassniki"></i>
                </div>
                <div>
                    <i class="fab fa-vk"></i>
                </div>
            </div>
        </div>
        <div class="rightinfo">
            <div>©2016 Armenia Travel. {{ 'All rights reserved'|trans }}.</div>
        </div>
    </div>
</div>