{#
  Block pour affichage le destionations section
#}
<div class="infoboxdest"><div><a hre="#"><img title="{{ showFieldDescriptions.imagetype[0].title }}" alt="{{ showFieldDescriptions.imagetype[0].altimage }}" src="/public/uploads/images/{{ showFieldDescriptions.imagetype[0].image }}"><div class="infodestign"><span>Yerevan</span><span><i class="fas fa-tag"></i><span>1500$</span></span></div></a><div class="package-date"><i class="far fa-clock"></i> {{ showFieldDescriptions.StartDateDestination|date("d M Y") }} - {{ showFieldDescriptions.EndDateDestination|date("d M Y") }}</div></div><span><span class="titileinfoboex"><span>{{ showFieldDescriptions.nameDestination|trans }}</span></span>
    <span class="infoboxes">
         {% for sticker in showFieldDescriptions.destinationsticker %}
             {% set nameSticker = sticker.fieldSticker %}
             {% if sticker.fieldSticker is empty %}
                 {% set nameSticker= sticker.sticker.nameSticker %}
             {% endif %}
             <span><span>{{ sticker.sticker.codeSticker|raw  }}</span><span>{{ nameSticker|trans }}</span></span>
         {% endfor %}

    </span>
    <span class="infoboxtext">
{{  showFieldDescriptions.description|trans }}
</span><div class="buttondiv"><a>{{ 'More Info'|trans }} / {{ 'Booking'|trans }}</a></div></span></div>

