{% spaceless %}
{{ '@AppBundle/Resources/public/css/block/image.block.html.css'|cssloader }}
    <div class="imageblock">
        <div>
            <div class="timeline">

                <h1 class="titelimageblock">{{ destionations_block[0].nameDestination|trans }}</h1>

                {% for key,value in destinationdays[0] %}
                    {% if key is divisible by(2)  %}
                        {% set class = 'left' %}
                    {% else %}
                        {% set class = 'right' %}
                    {% endif %}

                    <div class="container {{ class }}">
                        <div class="content">
                            <h2>{{ 'Day'|trans }} {{ key+1 }} <i class="fas fa-map-marker-alt"></i></h2>
                            <p>{{ value.titleDays|trans }}</p>
                            {{ value.descriptionDays|trans|truncate(150) }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endspaceless %}